---
layout: page
---
				<table>
{% for post in site.posts %}
{% if post.category == page.category %}

<div class="post-preview">
				<tr style="border-bottom:1px solid #ccc">
								<td style="vertical-align:middle">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">            {{ post.title }}
        </h4>
        {% if post.subtitle %}
        <h5 class="post-subtitle">
								<i> {{ post.subtitle }}</i>
        </h5>
        {% endif %}
    </a>
								</td>
								<td style="vertical-align:middle">
    <h5 class="post-meta" style="margin:0px 0;margin-bottom:0px">{{ post.date | date: "%B %-d, %Y" }}</h5>
								</td>
								<td>
	<div style="vertical-align:middle"class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
								</td>
				</tr>
</div>

{% endif %}
{% endfor %}
				</table>
